<mat-card class="city-weather-card">
    <mat-card-header>
      <mat-card-title>{{cityWeather.name}} <span class="temp-symbol">{{cityWeather.temperature}}</span></mat-card-title>
      <mat-card-subtitle>{{cityWeather.weather.description}}</mat-card-subtitle>
      <button mat-button class="favorite-icon"><mat-icon color="warn">favorite</mat-icon></button>
    </mat-card-header>
    <img mat-card-image src="http://openweathermap.org/img/wn/10d@2x.png" alt="Weather Icon">
    <!-- <mat-card-content>
      <p>
        {{cityWeather.weather.description}}
      </p>
    </mat-card-content> -->
  </mat-card>